/*!
 * COTAFER 
 * Version: 1.0.0
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Main Layout
# Header
# Footer
# Content

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
	font-size: 62.5%; /* 10px browser default */
}

body {
	font-size: 1.4em;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6;
	background: #f5f8fa;
	color: #333;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

/*--------------------------------------------------------------
# Main Layout
--------------------------------------------------------------*/
#page { overflow: hidden }
#wrap { position: relative; }

.content-area { 
	width: 69%; 
	float: left; 
	position: relative; 
}
.widget-area { width: 26%; float: right; }

/* Layout & Widths > Left Sidebar */
body.left-sidebar #content-wrap .content-area,
.left-sidebar .content-area { float: right }
body.left-sidebar #content-wrap .widget-area,
.left-sidebar .widget-area { float: left }

/* Layout & Widths > Full-Width & Full-Screen */
body.full-screen #content-wrap,
.full-screen { width: 100% !important; max-width: none !important; }
body.full-width #content-wrap .content-area,
.full-width .content-area,
body.full-screen #content-wrap { width: 100% !important; max-width: none !important; }
body.full-screen #content-wrap .content-area,
.full-screen .content-area { float: none; padding: 0; width: 100% !important; max-width: none !important; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
	min-height: 50px;
    height: 50px;
    background: #ffffff;
    padding-left: 30px;
}
.site-branding img {
	margin-top: 15px;
    float: left;
    width: 150px;
}

#header-setting .login {
	display: inline-block;
    padding: 13px 14px 0 8px;
    font-size: 0.9em;
}
#header-setting .login .btn {
    margin-top: -3px;
    font-size: 1em;
    margin-left: 8px;
}
#header-setting .language {
	display: inline-block;
	font-size: 0.9em;
	margin-right: 1.429em;
}
#header-setting .language form {
	display: inline;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	background: #333; 
	color: #999; 
	font-size: 0.9em;
	padding: 2em 0;
}

/* Footer > Typography */
.site-footer p { color: #777 }
.site-footer a,
.site-footer strong { color: #999 }
.site-footer a:hover { 
	color: #fff; 
	text-decoration: none; 
}

/* Footer > Copyright */
.copyright p:last-child { margin: 0 }

/* Footer > Social */
.footer-nav ul { 
	list-style: none; 
	margin: 0; 
}
.footer-nav ul li { 
	float: left; 
	margin-left: 1.429em; 
}
.footer-nav ul li:first-child { margin-left: 0 }
.footer-nav ul li .fa { margin-right: 7px }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.content-area form {
	margin-bottom: 2.143em;
}

/*--------------------------------------------------------------
# Login and reset password
--------------------------------------------------------------*/
.authtictn-form {
    margin: 0 auto;
    float: none;
}

.form-container {
	background: #fff;
    margin-top: 4.286em;
    border: 1px solid #d4dae1;
    margin-bottom: 2.143em;
    border-radius: 3px;
}
.form-container h3 {
	margin-bottom: 1.429em;
	padding: 0 2.857em;
}

.form-container form {
	padding: 0 2.857em;
	display: block;
}

.subchck label {
	font-size: 0.9em;
	font-weight: 400;
}

/* Login */
.form-container .btn {
	display: block;
	width: 100%;
}

.form-container .new-extranet-container {
	color: #8899a6;
	background: #f4f4f4;
	margin-top: 1.786em;
    border-top: 1px solid #d4dae1;
    padding: 0.714em;
}

/* Login > security info */
.security-info {
	margin: 2.143em 0 4.286em; 
	padding: 1.071em 0 2.143em;
	color:#fff;
	background: #55acee;
}

.security-info a:hover {
	text-decoration: underline;
}

.security-info dl {
    padding: 0 2.857em;
    margin-bottom: 0;
}
 .security-info dt {
 	margin-bottom: 1.071em;
 }

/*--------------------------------------------------------------
# Register
--------------------------------------------------------------*/
/*@media (min-width: 992px) {
	.new-register-form {
	    float: right;
	}	
}*/

.new-register-desc {
	margin-top: 4.286em;
	padding: 1.429em 0;
}
.new-register-desc h3,
.new-register-form h2 {
	margin-bottom: 30px;
}

/* Add properties detail */
.register-properties fieldset {
	border: none;
    border-bottom: 1px solid #DBE0E5;
    border-radius: 4px;
    margin-top: 1.429em;
    padding: 14px;
    padding-bottom: 7px;
    background:#fff;
}

.register-properties legend {
	border-bottom: none;
	display: block;
	float: left;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 0.556em;
}

.register-properties label {
	font-weight: normal;
}

.register-properties input[type="submit"] {
	margin-top: 1.429em;
}

.register-properties ul {
	list-style: none;
}

/* Yes/No radio block */
.radio-block .radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.radio-block .radio label {
    display: inline-block;
    position: relative;
    padding-left: 0;
}

.radio-block input[type="radio"] {
    position: absolute;
    top: 30%;
    left: 10px;
    margin: 0;
    float: none;
}
.radio-block label span {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 7px 8px 7px 30px;
    margin: 0;
    min-width: 100px;
    background-color: #F9F9F9;
}
.radio-block input:checked ~ span {
	background: #f2f4f6;
}

/* Map */
.property-map-canvas {
	width: 100%;
	height: 480px;
}

/* Drag drop upload */
.upload-drag-drop {
	position: relative;
}
.upload-drag-drop .drag-drop-area {
    border: 4px dashed #b4b9be;
    height: 200px;
}
.upload-drag-drop.drag-over .drag-drop-area{
	border-color:#83b4d8;
}
.upload-drag-drop .drag-drop-inside {
    margin: 70px auto 0;
    width: 250px;
}
.upload-drag-drop .drag-drop-inside p {
    color: #a0a5aa;
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
}
.upload-drag-drop .drag-drop-inside .drag-drop-status {
	font-size: 0.8em;
}

/* Payment and Policy */
#creditcard-items {
	display: none;
}

/* Agreement and Term */
body.ctr-term-condition {
	background:#fff;
}
form.agreement legend h3 {
	font-size: 1.714em;
}
.agreement-content ol {
    padding: 0;
    list-style-type: none;
}

.agreement-content h4 {
    font-size: 1.143em;
    margin-bottom: 0;
    font-weight: 600;
}
.certify-agreement {
	background-color: #eaf0f6;
    padding: 0.5em 1em;
    border: 1px solid #dae2eb;
}
.certify-agreement h4 {
	font-size: 1.071em;
	font-weight: 700;
}